## 1/ Import Libraries

In [18]:
import pandas as pd
from sklearn import linear_model
import joblib

## 2/ Import Data

In [4]:
train = pd.read_csv('input/train.csv')

In [5]:
train

   y_Salary  x1_Experience  x2_Skills
0         3            0.9          1
1         4            1.3          3
2         5            2.4          4
3         6            2.7          4
4         7            2.9          5
5         8            4.0          6
6         9            4.7          7
7        10            5.0          8
8        11            5.2          8

## 3/ Build Model

In [7]:
reg = linear_model.LinearRegression()

In [8]:
y = train['y_Salary']

In [10]:
X = train[['x1_Experience', 'x2_Skills']]

In [12]:
reg.fit(X, y)

LinearRegression()

In [21]:
# The coefficients
print("Coefficients: \n", reg.coef_)
print("Intercept: \n", reg.intercept_)

Coefficients:
 [1.09855335 0.41500904]
Intercept:
 1.326853526220619

## 4/ Export/Dump Model

In [20]:
joblib.dump(reg, 'model/predict_salary.pkl')

['model/predict_salary.pkl']

## 5/ Sample Predict

In [27]:
user_input = pd.DataFrame({
    'x1_Experience' : [2.4],
    'x2_Skills' : [4]
})

In [28]:
reg.predict(user_input)

array([5.62341772])

## 6/ Load Model

In [29]:
model_reg_imported = joblib.load('model/predict_salary.pkl')

In [31]:
model_reg_imported.predict(user_input)[0]

5.623417721518988